body {
background-image: url("flower.jpeg");
}
p {
         color: white;
         background color:black;
         font-size: 15pt;
      }
a:link { 
  background-color: white;
}
ul {
  list-style: square inside url("download-Edited.png");
}

